<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Theme.Material3.Dark">
        <activity
            android:name="io.github.pelmenstar1.digiDict.common.ui.tests.OptionsBarTests$TestActivity"
            android:exported="true" />

        <activity
            android:name="io.github.pelmenstar1.digiDict.common.ui.tests.DataLoadStateContainerTests$TestActivity"
            android:exported="true" />

        <activity
            android:name="io.github.pelmenstar1.digiDict.common.ui.tests.ColorPaletteViewTests$TestActivity"
            android:exported="true" />

        <activity
            android:name="io.github.pelmenstar1.digiDict.common.ui.tests.ColorPaletteViewTests$TestActivityForSavedState"
            android:exported="true" />
    </application>
</manifest>